<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716766700255-nuu5pc50sgv5begn7em04j1nalkff3vg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716766700255-nuu5pc50sgv5begn7em04j1nalkff3vg</string>
	<key>API_KEY</key>
	<string>AIzaSyCEUH-Kn-mALF0xynxybBTPKwE0cZSoyrg</string>
	<key>GCM_SENDER_ID</key>
	<string>716766700255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hardini.eclipseApp</string>
	<key>PROJECT_ID</key>
	<string>eclipse-app-625cf</string>
	<key>STORAGE_BUCKET</key>
	<string>eclipse-app-625cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716766700255:ios:459c9134847b019923bf6a</string>
</dict>
</plist>